@import '../../../../public/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.title {
  color: $white;
  margin: 0
}

.description {
  color: $white;
  opacity: 0.5;
}
