@import "src/public/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px 0;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  text-transform: uppercase;
  color: $white;
  z-index: 1;
  text-decoration: none;
}

.navWrapper {
  display: flex;
  column-gap: 36px;
  z-index: 1;
}

.link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.gradient {
  position: absolute;
  width: calc(100% + 290px);
  height: 405px;
  left: -109px;
  top: -30px;
}

@media screen and (max-width: 940px) {
  .header {
    justify-content: center;
    margin: 30px 0 0;
  }

  .navWrapper {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .title {
    font-size: 15px;
    line-height: 18px;
  }
}
