.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px 0;
}

.title {
  font-family: $font-face-secondary;
  font-weight: $bold;
  font-size: 19px;
  line-height: 23px;
  text-transform: uppercase;
  color: $white;
  z-index: 1;
  text-decoration: none;
}

.navWrapper {
  display: flex;
  column-gap: 36px;
  z-index: 1;
}

.link {
  font-family: $font-face-secondary;
  font-style: normal;
  font-weight: $regular;
  font-size: $smallParagraphFontSize;
  line-height: $smallParagraphLineHeight;
  text-decoration: none;
  color: $white;
  transition: opacity $animationPeriod;

  &:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: $desktop) {
  .header {
    margin: 30px 40px 0;
  }
}

@media screen and (max-width: $largeTablet) {
  .header {
    justify-content: center;
    margin: 30px 0 0;
  }

  .navWrapper {
    display: none;
  }
}

@media screen and (max-width: $largeMobile) {
  .title {
    font-size: $smallParagraphFontSize;
    line-height: $smallParagraphLineHeight;
  }
}
