$goodsBackgroundColors: (
  $red,
  $mediumPurple,
  $grey,
  $blue,
  $orange,
  $lightRed,
  $lightYellow,
  $darkPurple,
  $blue,
  $darkGreen,
  $darkBlue,
  $darkRed,
  $red,
  $mediumPurple,
  $green,
  $blue
);

$productImageScaleX: (
  0.7,
  0.7,
  1,
  0.9,
  0.9,
  0.9,
  0.8,
  0.9,
  0.8,
  1,
  0.3,
  0.7,
  0.8,
  0.9,
  0.8,
  0.8
);

$productImageScaleY: (
  0.7,
  0.6,
  1.3,
  0.8,
  0.7,
  0.5,
  0.5,
  0.6,
  0.9,
  0.6,
  0.7,
  1,
  0.6,
  1,
  0.9,
  0.8
);

.container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: $white;
  text-transform: uppercase;
  max-width: 883px;
  text-align: center;

  span {
    color: $mediumPurple;
  }
}

.goods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 100px 0 0;

  @for $i from 1 to 17 {
    li:nth-child(#{$i}) {
      background-color: nth($goodsBackgroundColors, $i);

      @if $i == 3 {
        color: $black;
      }

      @else if $i == 7 {
        color: $black;
      }

      @else {
        color: $white;
      }
    }
  }
}

.telegramOrderDesktop {
  position: relative;
  margin-top: -120px;
  z-index: 5;
  width: 100%;

  button {
    margin: auto auto 80px;
  }

  &::before {
    content: "";
    position: absolute;
    display: flex;
    width: 1440px;
    height: 350px;
    background: linear-gradient(179.71deg, #000000 35.87%, rgba(5, 4, 10, 0.48) 68.18%, rgba(9, 7, 19, 0) 96.12%);
    transform: rotate(-180deg);
    bottom: 35px;
    left: 0;
    z-index: -1;
    opacity: 0.95;
  }
}

.telegramOrderMobile {
  display: none;
}

@media screen and (max-width: $largeTablet) {
  .goods {
    margin: 40px 0 0;
    gap: 10px;

    @for $i from 1 to 17 {
      li:nth-child(#{$i}) {
        img {
          transform: scale(nth($productImageScaleX, $i), nth($productImageScaleY, $i));
        }
      }
    }
  }

  .header {
    font-size: $bigTitle;
    line-height: 56px;
    margin: 0 15px;
  }

  .telegramOrderDesktop {
    display: none;
  }

  .telegramOrderMobile {
    display: block;
    z-index: 5;
    width: 100%;
    position: relative;
    margin-top: 30px;

    button {
      margin: 0 auto;
    }

    &::before {
      content: "";
      position: absolute;
      display: flex;
      width: 100%;
      height: 235px;
      background: linear-gradient(179.71deg, #000000 35.87%, rgba(5, 4, 10, 0.48) 68.18%, rgba(9, 7, 19, 0) 96.12%);
      transform: rotate(-180deg);
      bottom: 75px;
      left: 0;
      z-index: -1;
    }
  }
}

@media screen and (max-width: $tablet) {
  .header {
    font-size: $mediumTitle;
    line-height: 45px;
  }

  .telegramOrderMobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    button {
      margin: 0 10px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: $smallTablet) {
  .container {
    margin-top: 100px;
  }

  .header {
    font-size: $smallTitle;
    line-height: 36px;
  }
}
