html,
body {
  margin: 0;
  background-color: $black;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url('../../public/assets/images/png/gradient.png');
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  margin: 0;
}

//Typography
h1 {
  font-family: $font-face-primary;
  font-weight: $extra-bold;
  font-size: 92px;
  line-height: 88px;
  text-transform: uppercase;
}

h2 {
  font-family: $font-face-primary;
  font-weight: $extra-bold;
  font-size: $mediumHeadingFontSize;
  line-height: $mediumHeadingLineHeight;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-family: $font-face-secondary;
  font-weight: $bold;
  font-size: $mediumParagraphFontSize;
  line-height: $mediumParagraphLineHeight;
}

button {
  border: none;

  p {
    font-family: $font-face-primary;
    font-weight: $semi-bold;
    font-size: 24px;
    line-height: 30px;
  }
}

.p1 {
  font-family: $font-face-secondary;
  font-weight: $regular;
  font-size: $largeParagraphFontSize;
  line-height: $largeParagraphLineHeight;
}

.p2 {
  font-family: $font-face-secondary;
  font-weight: $regular;
  font-size: $mediumParagraphFontSize;
  line-height: $mediumParagraphLineHeight;
}

p {
  font-family: $font-face-secondary;
  font-weight: $regular;
  font-size: $smallParagraphFontSize;
  line-height: $smallParagraphLineHeight;
}

label {
  font-family: $font-face-secondary;
  font-weight: $medium;
  font-size: $labelFontSize;
  line-height: $labelLineHeight;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: block;
}

figure {
  margin: 0;
}

@media screen and (max-width: $largeMobile) {
  html, body {
    background-size: inherit;
  }
}
