@mixin shopCard {
  width: 260px;
  height: 150px;
  border: 1px solid #312E4A;
  border-radius: 20px;
  background-color: $black;
  cursor: pointer;

  @media screen and (max-width: $smallTablet) {
    width: 155px;
  }
}

@mixin containerForm {
  width: fit-content;
  padding: 16px 30px;
  border-radius: 60px;
  border: 1px solid;
  cursor: pointer;
}

@mixin tagText {
  color: $white;
  opacity: 0.9;
}

@mixin FaqElementfullHeightText {
  height: 100%;
  margin: 30px 60px 40px 30px;
}

@mixin FaqElementzeroHeightText {
  margin: 0 60px 0 30px;
  height: 0;
}

@mixin FaqElementzeroFontSizeText {
  font-size: 0;
  line-height: 0;
}

@mixin FaqElementfullFontSizeText {
  font-size: 18px;
  line-height: 28px;
}
