@mixin shopCard {
  width: 260px;
  height: 150px;
  border: 1px solid #312E4A;
  border-radius: 20px;
  background-color: $black;
  cursor: pointer;

  @media screen and (max-width: $smallTablet) {
    width: 155px;
  }
}

@mixin containerForm {
  width: fit-content;
  padding: 16px 30px;
  border-radius: 60px;
  border: 1px solid;
  cursor: pointer;
}

@mixin tagText {
  color: $white;
  opacity: 0.9;
}

@mixin vatElementWrapper {
  width: 54px;
  height: 54px;
  display: flex;
  border-radius: 50%;
  border: 1px solid $black;
  background-color: $lightGrey;
  opacity: 0.9;
  cursor: pointer;
}

@mixin vatElementText {
  margin: auto;
  color: $black;
}

@mixin telegramOrderWrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

@mixin dropdownArrow {
  position: absolute;
  right: 20px;
  margin-top: 20px;
  transition: $animationPeriod;
}

@mixin dropdownItems {
  position: absolute;
  z-index: 111;
  width: 100%;
  left: 0;
  top: 55px;
  background: #081623;
  border: 1px solid #142E46;
  border-radius: 30px;
  text-align: center;
}

@mixin tooltip {
  height: fit-content;
  width: 230px;
  position: absolute;
  margin: -70px 0 0 -100px;
  background: $black;
  border-radius: 8px;
  display: flex;

  label {
    padding: 16px;
    color: $white;
  }
}
