@import 'src/public/styles/variables.scss';

html,
body {
  margin: 0;
  background-color: #1E1E1E;
  overflow-x: hidden;
}

p {
  margin: 0;
}

//Typography
h1 {
  font-family: $montserrat;
  font-weight: 800;
  font-size: 92px;
  line-height: 88px;
}

h2 {
  font-family: $montserrat;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
}

h4 {
  font-family: $inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

button {
  border: none;

  p {
    font-family: $inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.p1 {
  font-family: $inter;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.p2 {
  font-family: $inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: $inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

label {
  font-family: $inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}