//General colors
$black: #000000;
$white: #FFFFFF;
$mediumBlack: #1B192A;
$lightBlack: #2B2840;
$middlePurple: #6C3DFE;
$lightPurple: #8D83D2;
$mediumGrey: #D9D9D9;
$purple: #5C2DF5;
$yellow: #FBED75;
$lightGrey: #EDEFF2;
$middleGrey: #737475;
$deepDark: #090713;

//Cards colors
$blue: #54BDF9;
$green: #3F8E44;
$mediumPurple: #A269F6;
$red: #CB382E;
$darkBlue: #1E4970;
$darkPurple: #461EBB;
$lightYellow: #D2FC6C;
$lightRed: #E25956;
$orange: #ED762F;
$darkRed: #6B272F;
$darkGreen: #244133;
$grey: #EBECED;

//Fonts
$font-face-primary: 'Montserrat', sans-serif;
$font-face-secondary: 'Inter', sans-serif;

//Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Resolutions
$mobile: 440px;
$largeMobile: 520px;
$smallTablet: 600px;
$tablet: 720px;
$largeTablet: 890px;
$smallDesktop: 1024px;
$desktop: 1240px;

//Animation period
$animationPeriod: 0.4s;

//Font sizes
$labelFontSize: 13px;
$labelLineHeight: 16px;

$smallParagraphFontSize: 15px;
$smallParagraphLineHeight: 18px;
$mediumParagraphFontSize: 18px;
$mediumParagraphLineHeight: 22px;
$largeParagraphFontSize: 22px;
$largeParagraphLineHeight: 27px;

$mediumHeadingFontSize: 60px;
$mediumHeadingLineHeight: 68px;

$smallTitle: 30px;
$mediumTitle: 40px;
$bigTitle: 50px
