//General colors
$black: #000000;
$white: #FFFFFF;
$mediumBlack: #1B192A;
$lightBlack: #2B2840;
$middlePurple: #6C3DFE;
$lightPurple: #8D83D2;
$mediumGrey: #D9D9D9;
$purple: #5C2DF5;
$yellow: #FBED75;
$lightGrey: #EDEFF2;

//Cards colors
$blue: #54BDF9;
$green: #3F8E44;
$mediumPurple: #A269F6;
$red: #CB382E;
$darkBlue: #1E4970;
$darkPurple: #461EBB;
$lightYellow: #D2FC6C;
$lightRed: #E25956;
$orange: #ED762F;
$darkRed: #6B272F;
$darkGreen: #244133;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
