.header {
  color: $white;
  max-width: 1140px;
  text-align: center;
  position: relative;
  z-index: 999;
  text-transform: uppercase;
}

.instructionContainer {
  margin-top: -200px;
}

.instructionImages {
  position: relative;
  z-index: 999;
  padding: 0 4%;
}

.hyperStickerWrapper {
  position: relative;
  margin-right: 260px;
}

.hyperSticker {
  position: absolute;
  left: 0;
  bottom: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
}

.headlineShadow {
  position: absolute;
  width: 100%;
  height: 750px;
  background: linear-gradient(180deg, $black 45.83%, rgba(9, 7, 19, 0) 96.35%);
  z-index: 777;
}

.phoneWrapper {
  position: relative;
  z-index: 555;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.purpleEllipse {
  position: absolute;
  width: 1230px;
  height: 405px;
  z-index: -1;
  bottom: -70px;
  background: linear-gradient(0deg, #9134C3, #9134C3), #9134C3;
  filter: blur(145px);
}

.fiveYearSticker {
  position: absolute;
  bottom: 560px;
  left: calc(50% - 480px);
  z-index: 999;
}

.commissionSticker {
  position: absolute;
  bottom: 795px;
  left: calc(50% + 160px);
  z-index: 999;
}

.instructionWrapper {
  position: relative;
  width: 100%;
  max-width: 1210px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.horizontalLine {
  width: 81%;
  height: 100%;
}

.verticalLine {
  display: none;
}

.instructions {
  position: relative;
  z-index: 999;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 35px;
  padding: 0 4%;
  margin-top: -30px;
}

.telegramWrapperDesktop {
  margin-top: 100px;
}

.telegramWrapperMobile {
  display: none;
}

@media screen and (max-width: $largeTablet) {
  .instructions {
    column-gap: 20px;
  }

  .iphone {
    width: 350px;
    height: 710px;
  }

  .header {
    font-size: $bigTitle;
    line-height: 56px;
  }

  .hyperStickerWrapper {
    margin-right: 220px;
  }

  .hyperSticker {
    height: 55px;
    width: 230px;
  }

  .fiveYearSticker {
    display: none;
  }

  .commissionSticker {
    display: none;
  }

  .container {
    margin-top: 140px;
  }

  .instructionContainer {
    margin-top: -110px;
  }
}

@media screen and (max-width: $tablet) {
  .header {
    font-size: $mediumTitle;
    line-height: 45px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hyperStickerWrapper {
    margin-right: 174px;
  }

  .hyperSticker {
    height: 45px;
    width: 180px;
  }

  .iphone {
    width: 305px;
    height: 620px;
  }

  .headlineShadow {
    height: 610px;
  }

  .horizontalLine {
    display: none;
  }

  .verticalLine {
    display: block;
  }

  .instructionImages {
    padding: 0;
  }

  .instructionContainer {
    margin-top: -100px;
  }

  .instructionWrapper {
    flex-direction: row;
    padding-left: 20px;
    margin-top: 20px;
  }

  .instructions {
    grid-template-columns: 1fr;
    grid-template-rows: 165px 150px 165px;
    padding: 0 9% 0 4%;
    margin: 0;
  }

  .container {
    margin-top: 120px;
  }
}

@media screen and (max-width: $smallTablet) {
  .header {
    font-size: $smallTitle;
    line-height: 36px;
  }

  .hyperStickerWrapper {
    margin-right: 122px;
  }

  .hyperSticker {
    height: 35px;
    width: 125px;
  }

  .instructionContainer {
    margin-top: -140px;
  }

  .container {
    margin-top: 70px;
  }

  .headlineShadow {
    height: 400px;
  }
}

@media screen and (max-width: $largeMobile) {
  .telegramWrapperDesktop {
    display: none;
  }

  .telegramWrapperMobile {
    margin-top: 60px;
    display: block;
  }
}

@media screen and (max-width: $mobile) {
  .iphone {
    width: 260px;
    height: 530px;
  }
}