.container {
  @include containerForm;
  background-color: $deepDark;
  border-color: #C3C3C3;
  transition: background-color $animationPeriod;

  &:hover {
    background-color: #19152B;
  }
}

.activeContainer {
  @include containerForm;
  background-color: $purple;
  border-color: $purple;
}

.name {
  color: $white;
  font-weight: $medium;
  line-height: $labelLineHeight;
}
