.container {
  width: calc(25% - 15px);
  height: 450px;
  transition: scale $animationPeriod;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    scale: 0.96;
  }
}

.description {
  margin: 30px 30px 0
}

.economy {
  font-weight: $bold;
}

.imageWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.productImage {
  margin: auto;
}

@media screen and (max-width: $desktop) {
  .container {
    width: calc(100% / 3 - 15px);
  }
}

@media screen and (max-width: $smallDesktop) {
  .container {
    width: calc(100% / 2 - 15px);
  }
}

@media screen and (max-width: $largeTablet) {
  .container {
    width: calc(100% / 4 - 10px);
    height: 230px;
  }

  .description {
    margin: 16px 16px 0;
  }

  .imageWrapper {
    max-width: 220px;
    margin: auto;
  }

  .productImage {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .title {
    font-size: 15px;
    line-height: 18px;
  }

  .economy {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    width: calc(100% / 3 - 10px);;
  }
}

@media screen and (max-width: $smallTablet) {
  .container {
    width: calc(100% / 2 - 10px);;
  }
}
