.container {
  width: 285px;
  height: 390px;
  transition: scale $animationPeriod;
  display: flex;
  flex-direction: column;
  padding: 30px;

  &:hover {
    scale: 0.96;
  }
}

.title {
  font-size: 25px;
  line-height: 31px;
  color: $white;
}

.productImage {
  margin: auto;
}

@media screen and (max-width: $largeTablet) {
  .container {
    width: 167px;
    height: 231px;
    padding: 16px;
  }

  .title {
    font-size: 15px;
    line-height: 18px;
  }
}
