.wrapper {
  position: relative;
  display: flex;
  background: $mediumBlack;
  border-radius: 12px;
  transition: $animationPeriod;
  cursor: pointer;
  z-index: 2;
  padding: 20px 30px 20px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &:hover {
    background: #252334;
  }
}

.container {
  list-style: none;
  max-width: 950px;
  width: 100%;
  color: $white;
}

.title {
  color: $white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    @include FaqElementzeroHeightText;
  }

  50% {
    @include FaqElementfullHeightText;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
    display: block;
    @include FaqElementfullHeightText;
    @include FaqElementfullFontSizeText;
  }

  30% {
    opacity: 0;
    @include FaqElementfullHeightText;
    @include FaqElementfullFontSizeText;
  }

  60% {
    @include FaqElementzeroFontSizeText;
  }

  100% {
    @include FaqElementzeroHeightText;
  }
}

.textOpen {
  @include FaqElementfullHeightText;
  line-height: $largeParagraphLineHeight + 1px;
  opacity: 0.8;
  animation: fadeIn $animationPeriod + 0.2;
}

.textClose {
  @include FaqElementzeroHeightText;
  @include FaqElementzeroFontSizeText;
  opacity: 0;
  animation: fadeOut $animationPeriod + 0.2;
}

.arrow {
  transition: transform $animationPeriod;
}

.arrowOpen {
  transform: scaleY(-1);
}
