.wrapper {
  position: relative;
  display: flex;
  background: $mediumBlack;
  border-radius: 12px;
  transition: $animationPeriod;
  cursor: pointer;
  z-index: 2;
  padding: 20px 30px 20px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &:hover {
    background: #252334;
  }
}

.container {
  list-style: none;
  max-width: 950px;
  width: 100%;
  color: $white;

  ol {
    padding: 0;
    margin-left: 20px;

    li {
      display: list-item;
    }
  }
}

.title {
  color: $white;
}

.textOpen {
  height: fit-content;
  padding: 30px 60px 40px 30px;
  line-height: $largeParagraphLineHeight + 1px;
  opacity: 0.8;
  transition: all $animationPeriod;
}

.textClose {
  height: 0;
  opacity: 0;
  padding: 0 60px 0 30px;
  transition: all $animationPeriod;
}

.arrow {
  transition: transform $animationPeriod;
}

.arrowOpen {
  transform: scaleY(-1);
}

@media screen and (max-width: $tablet) {
  .textOpen {
    font-size: $smallParagraphFontSize;
    line-height: $mediumParagraphLineHeight;
    padding: 20px;
  }

  .textClose {
    padding: 0 20px;
  }

  .title {
    font-size: $smallParagraphFontSize;
    line-height: $smallParagraphLineHeight;
  }
}
